
.footer {
    background-color: rgba(255, 255, 255, 0);
}


.footer p {
    font-style: italic;
}

.footer a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.footer .social {
    font-size: 4rem;
    float: right;
    color: $alternative-colour4;
}
