.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    // grid-template-rows: auto;
    justify-self: center;
    gap: 1em 1em;
}

.gallery h1 {
    grid-column: span 3;
}

.gallery-picture {
    grid-column: span 1;
    border-style: groove;
    display: flex;
    justify-content: center;
    align-items: center;
}

.embed-container {
    position: relative;
    grid-column: span 3;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 960px) {
    .gallery {
        display: grid;
        grid-template-columns: 1fr;
        grid-column: span 1;
        justify-self: center;
        gap: 1em 1em;
    }

    .gallery-picture {
        grid-column: span 1;
        border-style: groove;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .embed-container {
        position: relative;
        grid-column: span 1;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
        max-width: 100%;
    }

    .gallery h1 {
        grid-column: span 1;
    }
}
