$font-color: #000;
$font-alternative-color: #fff;
$accent-color: #ee6c4d;
$background-color: #e4e1d9;
$background-alternative-color: #e0fbfc;

$base-line-height: 1.4;
$base-font-size: 1.1em;
$magic-number: $base-line-height * $base-font-size;

$base-margin: 0 auto;
